[Unit]
Requires = lldap.service
After = lldap.service
Requires = authelia-redis.service
After = authelia-redis.service

[Service]
Restart = always
RestartSec = 10

[Container]
Image = docker.io/authelia/authelia:4
UserNS = keep-id
Volume = %h/home-lab/config/authelia/configuration.yml:/config/configuration.yml
Volume = %h/bare/authelia/secrets:/authelia_secrets
Volume = %h/bare/authelia/data:/authelia_data
Environment = AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/authelia_secrets/ldap_password
Environment = AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/authelia_secrets/jwt_secret
Environment = AUTHELIA_SESSION_SECRET_FILE=/authelia_secrets/session_secret
Environment = AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/authelia_secrets/encryption_key
Environment = AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/authelia_secrets/smtp_password
Network = caddy-authelia.network
Network = caddy-lldap.network
Network = authelia-redis.network

[Install]
WantedBy = default.target