[Unit]
Description = Backup

[Service]
WorkingDirectory = %h/home-lab
ExecStart = %h/home-lab/target/release/home-lab backup
Restart = on-failure
RestartSec = 300

[Install]
WantedBy = default.target
