[Unit]
Description = Backup
# Restart at most 5 times
StartLimitIntervalSec = 12h
StartLimitBurst = 5

[Service]
WorkingDirectory = %h/home-lab
ExecStart = %h/home-lab/target/release/home-lab backup
Restart = on-failure
RestartSec = 60
