[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = forgejo
Image = codeberg.org/forgejo/forgejo:12
Pull = never
AutoUpdate = local
UserNS = keep-id
Volume = %h/protected/forgejo/data:/data
Volume = /etc/timezone:/etc/timezone:ro
Volume = /etc/localtime:/etc/localtime:ro
Volume = %h/protected/forgejo/db-secrets:/db-secrets:ro
Network = forgejo.network
Network = caddy-forgejo.network
Environment = FORGEJO__database__DB_TYPE=postgres
Environment = FORGEJO__database__HOST=forgejo-db:5432
Environment = FORGEJO__database__NAME=forgejo
Environment = FORGEJO__database__USER=forgejo
Environment = FORGEJO__database__PASSWD__FILE=/db-secrets/password

[Install]
WantedBy = protected.target