[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = caddy
Image = docker.io/library/caddy:2
Pull = never
AutoUpdate = local
Notify = true
Volume = %h/home-lab/config/caddy/Caddyfile:/etc/caddy/Caddyfile
Volume = %h/bare/caddy/data:/data
Volume = %h/bare/caddy/config:/config
Network = caddy.network
Network = caddy-gotify.network
Network = caddy-jellyfin.network
Network = caddy-knock.network
Network = caddy-lindy.network
Network = caddy-lldap.network
Network = caddy-nextcloud.network

[Install]
WantedBy = default.target