# Note: I use socket activation to get the original socket from systemd, allowing us to have the original ip address

(external_sockets) {
    bind fd/3 {
        protocols h1 h2
    }

    bind fd/4 {
        protocols h1 h2
    }
}

(internal_sockets) {
    bind fd/5 {
        protocols h1 h2
    }
}

(logging) {
    log {
        output file /data/logs/access
    }
}

(auth) {
    forward_auth knock:8080 {
        uri /
    }
}

{
    servers {
        protocols h1 h2
    }
}

#
# Public services
#

films.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy jellyfin:8096
}

docs.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy nextcloud-aio-apache:11000
}

login.sitegui.dev {
    import external_sockets
    import logging

    reverse_proxy knock:8081
}

knock.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy knock:8082
}

lindy.sitegui.dev {
    import external_sockets
    import logging

    reverse_proxy lindy:8000
}

notifications.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy gotify:80
}

monitoring.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy grafana:3000
}

git-private.sitegui.dev {
    import external_sockets
    import logging
    import auth

    reverse_proxy forgejo:3000
}

#
# Private services
# The port 8080 is configured at the firewall level to only be open for ips from the internal network
#

ldap.sitegui.dev:8080 {
    import internal_sockets
    import logging
    import auth

    reverse_proxy lldap:17170
}

prometheus.sitegui.dev:8080 {
    import internal_sockets
    import logging
    import auth

    reverse_proxy prometheus:9090
}

alertmanager.sitegui.dev:8080 {
    import internal_sockets
    import logging
    import auth

    reverse_proxy alertmanager:9093
}
