[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = lindy
Image = docker.io/library/caddy:2
Pull = never
AutoUpdate = local
Volume = %h/home-lab/config/lindy/Caddyfile:/etc/caddy/Caddyfile
Volume = %h/protected/lindy/data:/data
Volume = %h/protected/lindy/config:/config
Volume = %h/protected/lindy/build:/app/lindy
Network = caddy-lindy.network

[Install]
WantedBy = protected.target