[Unit]
Description = Update packages

[Service]
WorkingDirectory = %h/home-lab
ExecStart = %h/home-lab/target/release/home-lab update packages
Restart = no
