[Unit]
Description = Update images

[Service]
WorkingDirectory = %h/home-lab
ExecStart = %h/home-lab/target/release/home-lab update images
Restart = no
