[Unit]
Description = Update packages

[Timer]
# First Tuesday of the month
OnCalendar = Tue *-*-1..7 04:15:00
RandomizedDelaySec = 10m

[Install]
WantedBy = timers.target
