[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = knock
Image = localhost/knock
AutoUpdate = local
UserNS = keep-id
Volume = %h/bare/knock/secrets:/secrets
Environment = ALLOWED_NETWORKS=192.168.1.51,2a01:e0a:82c:b1f0:d294:66ff:fea3:3624
Environment = COOKIE_DOMAIN=sitegui.dev
Environment = DATA_FILE=/secrets/data.json
Environment = FORWARD_AUTH_BIND=0.0.0.0
Environment = I18N_LANGUAGE=fr
Environment = LOGIN_BIND=0.0.0.0
Environment = LOGIN_HOSTNAME=https://login.sitegui.dev
Environment = PORTAL_BIND=0.0.0.0
Environment = USERS_FILE=/secrets/users.txt
Environment = VALID_HOSTS=films.sitegui.dev,docs.sitegui.dev,knock.sitegui.dev,notifications.sitegui.dev,monitoring.sitegui.dev,knock.sitegui.dev,git-private.sitegui.dev
Network = caddy-knock.network

[Install]
WantedBy = default.target