[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = knock
Image = localhost/knock
AutoUpdate = local
UserNS = keep-id
Volume = %h/bare/knock/secrets:/secrets
Environment = ALLOWED_NETWORKS=192.168.1.0/24
Environment = FORWARD_AUTH_BIND=0.0.0.0
Environment = I18N_LANGUAGE=fr
Environment = IP_SESSION_MAX_INACTIVITY=1d
Environment = KNOCK_COOKIE_DOMAIN=sitegui.dev
Environment = LOGIN_BIND=0.0.0.0
Environment = LOGIN_HOSTNAME=https://login.sitegui.dev
Environment = PORTAL_BIND=0.0.0.0
Environment = RUST_LOG=INFO
Environment = SESSION_MAX_INACTIVITY=3d
Environment = SESSION_MAX_LIFETIME=30d
Network = caddy-knock.network

[Install]
WantedBy = default.target