[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = knock
Image = localhost/knock
AutoUpdate = local
UserNS = keep-id
Volume = %h/bare/knock/secrets:/secrets
Environment = ALLOWED_NETWORKS=192.168.1.51
Environment = COOKIE_DOMAIN=sitegui.dev
Environment = FORWARD_AUTH_BIND=0.0.0.0
Environment = FORWARD_AUTH_LOG_FILE=/secrets/forward_auth.jsonl
Environment = I18N_LANGUAGE=fr
Environment = LOGIN_BIND=0.0.0.0
Environment = LOGIN_HOSTNAME=https://login.sitegui.dev
Environment = PORTAL_BIND=0.0.0.0
Environment = VALID_HOSTS=films.sitegui.dev,docs.sitegui.dev,knock.sitegui.dev
Network = caddy-knock.network

[Install]
WantedBy = default.target