[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = alertmanager
Image = quay.io/prometheus/alertmanager:latest
Pull = never
AutoUpdate = local
Volume = %h/home-lab/config/monitoring/alertmanager.template.yml:/etc/alertmanager/alertmanager.template.yml
Volume = %h/bare/alertmanager/data:/alertmanager
Network = caddy-alertmanager.network
Network = alertmanager-prometheus.network
# Use this hack in order to substitute env vars into the config file, protecting secrets
PodmanArgs = --entrypoint='["/bin/sh", "-c"]'
Exec = "cp /etc/alertmanager/alertmanager.template.yml /etc/alertmanager/alertmanager.yml && \
        sed -i \"s|\\$AM_EMAIL|$AM_EMAIL|g\" /etc/alertmanager/alertmanager.yml && \
        sed -i \"s|\\$AM_USERNAME|$AM_USERNAME|g\" /etc/alertmanager/alertmanager.yml && \
        sed -i \"s|\\$AM_PASSWORD|$AM_PASSWORD|g\" /etc/alertmanager/alertmanager.yml && \
        alertmanager --config.file=/etc/alertmanager/alertmanager.yml --web.external-url=https://alertmanager.sitegui.dev:8080 --storage.path=/alertmanager"
EnvironmentFile = %h/bare/alertmanager/alertmanager.env

[Install]
WantedBy = default.target