[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = node-exporter
Image = quay.io/prometheus/node-exporter:latest
Pull = never
AutoUpdate = local
Volume = /:/rootfs:ro,rslave
Exec = --path.rootfs=/rootfs
Network = prometheus-node-exporter.network
PodmanArgs = --pid=host
UserNS = keep-id

[Install]
WantedBy = default.target