[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = prometheus
Image = quay.io/prometheus/prometheus:latest
Pull = never
AutoUpdate = local
UserNS = keep-id
Volume = %h/home-lab/config/monitoring/prometheus:/etc/prometheus
Volume = %h/bare/prometheus/data:/prometheus
Network = caddy-prometheus.network
Network = prometheus-node-exporter.network
Network = grafana-prometheus.network

[Install]
WantedBy = default.target