[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = prometheus
Image = quay.io/prometheus/prometheus:latest
Pull = never
AutoUpdate = local
UserNS = keep-id
Volume = %h/home-lab/config/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
Volume = %h/bare/prometheus/data:/prometheus
Network = caddy-prometheus.network
Network = prometheus-node-exporter.network

[Install]
WantedBy = default.target