[Unit]

[Service]
Restart = always
RestartSec = 10

[Container]
ContainerName = prometheus
Image = quay.io/prometheus/prometheus:latest
Pull = never
AutoUpdate = local
UserNS = keep-id
Volume = %h/home-lab/config/monitoring/prometheus:/etc/prometheus:ro
Volume = %h/bare/prometheus/data:/prometheus
Network = alertmanager-prometheus.network
Network = caddy-prometheus.network
Network = grafana-prometheus.network
Network = prometheus-node-exporter.network
Exec = --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --web.external-url=https://prometheus.sitegui.dev:8080

[Install]
WantedBy = default.target